network:
  version: 2
  ethernets:
    eth0:
      addresses:
      - {{ pi_ip }}/{{ pi_mask }}
      nameservers:
        search: [{{ pi_searchdomains }}]
        addresses: [127.0.0.1, {{pi_additional_upstream_dnsservers}}]
      routes:
        - to: default
          via: {{ pi_gateway }}
