[Interface]
PrivateKey = {{ docker-ext_wg_private_key }}
Address = 10.11.20.2/24

[Peer]
PublicKey = s3Ch/zcv5IeSpIbHBT5pdzpHWwV2qh4Z9W/0DSZg/CQ=
AllowedIPs = 0.0.0.0/0
Endpoint = vps.mycomputer.party:51820
PersistentKeepalive = 25
